.scores {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 1rem 0;
}

@media (min-width: 600px) {
  .scores {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .current-score {
    justify-self: end;
  }

  .best-score {
    justify-self: start;
  }
}
